doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style.
    html {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 100%;
      font-family: 'Arial',sans-serif;
      line-height: 1.15;
    }

    *, *:before, *:after {
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
    }

    body {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      line-height: 1.5;
    }
    .parentDiv{
    width:1920px;
    height:1080px;
    border:1px solid;
    color: #fff;
    text-align:center;
    }
    .footer{
    width: 100%;
    height: 20.3821656051%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    background-color: #670038;
    }
    .view{
    width: 100%;
    height: 79.6178343949%;
    background-size: cover;
    background-image:url('#{model.bgImg}');
    }
    .officeLogo{
    font-family: "Manrope", Arial;
    max-width: 43.666667%;
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
    padding-left: 1.1875rem;
    display: flex;
    align-items: center;
    margin-right: auto;
    height: 100%;
    }
    .officeLogoUrl{
    width: 100%;
    height: 100%;
    }
    .officeLogoUrl img{
    object-fit: contain;
    height: 100%;
    filter: hue-rotate(0) saturate(0) brightness(1);
    -webkit-filter: hue-rotate(0) saturate(0) brightness(1);
    }
    .agentDetails{
    font-size: 3.5rem;
    max-width: 43.6666666667%;
    padding-left: 0.1875rem;
    font-weight: 300;
    text-align: left;
    font-family: Manrope, Arial;
    padding-right: 35px;
    }
    .agentName{
    font-weight: 700;
    text-transform: uppercase;
    font-family: Manrope , Arial;
    }
    .agentImage{
    display: inline-block;
    position: relative;
    margin-top: 14%;
    }
    .agentImage img{
    height: 200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 100%;
    display: block;
    }
    .tagLineBox{
    flex-direction: column;
    align-items: center;
    font-family: Manrope , Arial;
    font-weight: 900;
    font-size: 5.5rem;
    text-align: left;
    margin-left: 36%;
    padding-top: 10%;
    }
    .lineText1{
    padding-top: 5%;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    }
.parentDiv
  .view
    .tagLineBox
      .lineText1 FIND YOUR
      .lineText2 DREAM HOME
    if model.headShot && model.headShot !== ''
      .agentImage
        img(src=model.headShot)
  .footer
    .officeLogo
      .officeLogoUrl
        img(src=model.officeLogo)
    .agentDetails
      .agentName #{model.name}
      div #{model.mobile}
